@charset "utf-8";
/* CSS Document */

form{
	color: gray;
	font-size: 15px;
}

ul{
	list-style: none;
}

li{
	border: 1px solid gray;
	width: 400px;
	height: 50px;
	margin-bottom: 20px;
}

div{
/*	border: 1px solid red;*/
	display: inline-block;
	width: 80px;
	margin-top: 13px;
	margin-left: 13px;
}

input{
	width: 280px;
	height: 28px;
	border: none;
}

input[type="button"]{
	background-color: #DBDBDB;
	width: 100px;
	height: 46px;
	margin-top: 2px;
	margin-left: 17px;
}

input[type="submit"]{
	background-color: red;
	width: 400px;
	height: 50px;
	color: white;
	font-size: 17px;
}