@charset "utf-8";
/* CSS Document */

ul{
	list-style: none;
}

li{
	color: gray;
	float: left;
	margin-left: 15px;
	font-size: 13px;
}

a{
	color: gray;
	font-size: 13px;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}